<html>
  <%= javascript_include_tag "dygraph-combined" %>
  <p>Name is <%= @name%> </p>

  <h1>Nice Way to Do it, with the .each</h1>
  <% d=@plot.first %>
  
      <%
        @tags = @plot.select_values
      %>




<% index = (Array.new(@tags.length)).fill{|ii| ii+0} %>
  
  <h2><%= @tags.each do |ii|;@tags.first; end %></h2>

<%= index.each do |ii|; @tags[ii]; end %>
<%#=   "'" + for ii in index; if !ii.kind_of?(Array); putc(ii.to_s + "'"); end   ; end + "\n" %>



<%#=   "'" + (0..@tags.length-1).each do |ii| @plot.first.instance_eval(@tags[ii]).to_s + ( ',' unless ii == (@tags.length-1)) end   +    '\n' + "'"     %>

  <div id="graphdiv"></div>  
    <script type="text/javascript">
    g = new Dygraph(document.getElementById("graphdiv"),
  <%# This is how I can print out the Name things%>
 <%= "'" %><% 
                for ii in 0..(@tags.length-1)          %><%=
                 @tags[ii].to_s
                                                       %><%=
                putc(',') unless (ii==(@tags.length-1))
                                                       %><%
                end
                                                       %><%=
                putc('\n' +"'+")
                                                       %>
      

    <%#='\n' + "'" %>

    <%#*'Date,Temperature\n' +%>

     <%  @plot.each do |plot| %>
     <%#= "'" + plot.DataDate.to_s + ','+ plot.y2.to_s + '\n' + "'" %>
      <%= plot.dygraph_line %>
      <%="   +" unless plot==@plot.last %>
     <%  end %>
      );
  </script>

  <h2>Awesome! Fully dynamic and iterative way to do it!!!</h2>

    <div id="graphdiv2"></div>
    <script type="text/javascript">
    g = new Dygraph(document.getElementById("graphdiv2"),
    <%# Dynamic Lable Maker%>
     <%= "'" %><%
                for ii in 0..(@tags.length-1)         %><%=
                 @tags[ii].to_s
                                                      %><%=
                putc(',') unless (ii==(@tags.length-1))
                                                      %><%
                end
                                                      %><%=
                putc('\n' +"'+")
                                                      %>

<%# Dynamic Value Putter%>


 <%  @plot.each do |plot|;                                      %><%= # for each row in the @plot selection
        putc("'")                                               %><%
        for ii in 0..(@tags.length-1)                           %><%= # for each tag (column) in that row
           (plot.send(@tags[ii].to_s)).to_s                     %><%=
           putc(',') unless (ii==(@tags.length-1))
                                                                %><%
        end
                                                                %><%= # End format is <   'x,y,y2,y3\n' +  >
        putc('\n' + "'")
                                                                %>
      <%="   +" unless plot==@plot.last %>
<%  end %>
      );
  </script>

</html>

<br>

</br>
<%= button_to 'Plot Home', :controller => "/plots/index" %>