<!--
Beneath all the messy and probably poorly written HTML, this page is pretty simple.
The application logic is laid out as follows:

______________________________________________________________________
|                                                                    |
|                      Status of the selection state                 |
|                      [ progress gif upon submit ]                  |
|____________________________________________________________________|
|                    |                     |                         |   These selections are required to get data. All
|   Pick X axis var  |   Pick Y axis var   | (optional) Pick Filter  |   plots need an x and a y variable right?
|                    |                     |                         |   Filter is optional, and depends on your db schema.
|____________________|_____________________|_________________________|
|                    |                     |                         |   "Index" and "Date" assume your db has either some
| Pick Index Range   |    Pick Feature     |     Pick Date Range     |   sequential index, a date based index, or both for its
|     (optional)     |                     |       (optional)        |   typical X variable. If left unselected, no truncation
|____________________|_____________________|_________________________|   occurs. "Feature" chooses an extra plot feature
|                                                                    |
|                           [Submit]                                 |   Submit selection data for handling in controller,
|____________________________________________________________________|   plotting in view

In addition, there is a "helper" div that floats along the left side of the page.
    I have made it so that upon hovering over a particular form/page element, a javascript
    function will be triggered that will popup a little helping statement, explaining what
    you are hovering over. See the "switch" statement in the "page_info" javascript
    function at the bottom of the page
-->

<style type="text/css">
    body {
        background: url("images/Stats.jpeg");
        opacity: 0.9;
        font-family:Tahoma;
    }
</style>

<br>
<p style="text-align:center;font:bold"> Brought to you by</p>
<div style="text-align:center;border-radius:2px;"><img src='images/ZD_Consulting.jpg' >  </div>
<p style="text-align:center"> University of Colorado, Aerospace Engineering Sciences</p>
<p style="text-align:center"> zach.dischner@colorado.edu</p>

<br>
<table id="mytable" bgcolor=white style="padding:10px; border-width:10px; border-color:green; position:relative;
        border-radius:2px;box-shadow: 5em 5em 10em #FFF" align="center" border="4" cellpadding=10px >

  <!--
    Status row. Has a string that indicates status of the current statement.
    Then has a 'loading' gif that gets toggled once everything gets submitted
  -->
  <tr>
    <td colspan=3 style="height:100px; border:8px outset #000040; border-radius:3px; box-shadow:2em 2em 5em #222; padding-bottom:10px">
      <div id="status" align="center" style="align:center; display:block;">
        <p id="StatusString" style="display:block"> You are Now Selecting Data</p>
        <img id="LoadingIMG" style="display:none; height:75px; width:600px" src="images/singif.gif">
      </div>
    </td>
  </tr>

  <tr>
    <td colspan=3 style="border:0px; padding-bottom:50px">

    </td>
  </tr>

  <tr>
    <td colspan=3 text-align=center style="text-align:center; align:center">
      <%= form_tag "/goplot", :method => "get" do %>
          <! Selector for the 'x' variable to be plotted>
          <h style="text-align:center"> Select Variables to Plot</h>

          <p style="background-color: #C0C0C0;
                  border-style:solid; border-radius: 0.5em; box-shadow: 8px 8px 5px #808080;text-align:center; padding:10px">
            <br>
            <%= label(:plot, :x_var, "X") %>
            <%= select_tag(:x_var, options_for_select(@tags.map { |t| [t, t.to_s] }), :multiple => false) %>

            <%= label(:plot, :y_var, "Y") %>
            <%= select_tag(:y_var, options_for_select(@tags.map { |t| [t, t.to_s] }), :multiple => true) %>

            <! If there is no filter (database columns are unique), just get rid of this section, hardcode
            params[:filter] = ["No Filter"] !>
            <% if @filters %>
            <%= label(:plot, :filter, "Filter") %>
            <%= select_tag(:filter, options_for_select(@filters.map { |t| [t, t.to_s] }), :multiple => true) %>
            <% end %>


          </p>
          </td>
          </tr>

          <td colspan=3 height=10px style="height:10px">
            <p font=bolder style="text-align:center; font:bold"> Select Range for Horizontal Axis-Either in terms of "X" or Dates</p>
          </td>
          <tr>
          <tr>
            <td>
              <p style="background-color: #C0C0C0; max-width: 450px;height:50px;
                      border-style:outset; border-color: #888888; border-radius: 0.5em;
                      text-align: center;
                      padding:10px ">
                Select "X" Range for Plotting
                <br>
                <%= label(:plot, :x_start, "Start") %>
                <%= number_field_tag(:x_start, params[:x_start]) %>

                <%= label(:plot, :x_end, "End") %>
                <%= number_field_tag(:x_end, params[:x_end]) %>

              </p>
            </td>


            <!--
                Here is a radiobuttion selector, which decides if you want to view the data
                with checkbox line selectors, or a linear regression option.
            -->
            <td>
              <br>
              <%= radio_button_tag 'feature', 'Both', :true %>
              <%= label(:plot, :feature, "Both") %>
              <br>

              <br>
              <%= radio_button_tag 'feature', 'Linear Regression' %>
              <%= label(:plot, :feature, "Linear Regression ") %>
              <br>

              <br>
              <%= radio_button_tag 'feature', 'Checkboxes' %>
              <%= label(:plot, :feature, "Checkboxes") %>
              <br>

            </td>
            <td>

              <!--
                This is the block that creates a selector for  Datetime options
                It populates a Datetime param that is used in dynamic scope selectors
              -->
              <p style="background-color: #C0C0C0; width: 350px;height:100px;
                      border-style:outset; border-radius: 0.5em; border-color:#888888;
                      text-align: center;
                      padding:10px">
                Select DATE Range for Plotting
                <br>
                <%= label(:plot, :date_start, "Start") %>
                <%= date_select(:date_start, params[:date_start], :include_blank => true) %>
                <br>

                <br>
                <%= label(:plot, :date_end, "End") %>
                <%= date_select(:date_end, params[:date_end], :include_blank => true) %>
                <br>

              </p>

            </td>
          </tr>



         <!--
            Submit the page data to be handled by   /app/controllers/plots_controller
         -->
          <tr>
            <td colspan=3 style="align:center; text-align:center">
              <%= submit_tag "submit!", :onmouseover => "page_info('submit')",
                                        :onmouseout => "page_info()",
                                        :onclick => "showloading()" %>

            </td>
          </tr>
          </table>


      <% end %>    <!-- ends the form for selecting data -->



      <div style="padding-top:120px">
        <%= link_to 'Want some more help?',"doc#show" %>
      </div>






      <div id="helperDIV" style="background-color:#87cefa;border:3px outset gray; border-radius:10px; width:auto;
              padding-left:8px; padding-right:8px; display:block; top:25%; left:20px; position:fixed">
        <table>
          <tr>
            <td>
              <img src="images/question.gif" onclick="toggle_visibility('helper'), page_info()">
            </td>
            <td>
              <p id="helper" style="font-weight:bold; visibility:hidden; width:auto">
              </p>
            </td>
          </tr>
        </table>
      </div>



      <script language="javascript" type="text/javascript">
          function showloading()
          {
//                      var img2 = document.createElement("IMG");
//                      img2.src = "/ajax-loader.gif";
//                      document.append(img);

              document.getElementById("StatusString").innerHTML = "Hold yer horses! The Data is being fetched"
              document.getElementById("LoadingIMG").style.display = "block"
          }
          function page_info(x) {
              if (document.getElementById("helper").style.visibility == 'visible')
              {
                  switch (x) {
                      case 'submit':
                          document.getElementById("helper").innerHTML = "Click to begin the plotting experience!" + "<%=params.to_s %>"
                          break
                      default:
                          document.getElementById("helper").innerHTML = "Hover Over a form area for help"
                  }
              }

          }

          function toggle_visibility(id) {
              var e = document.getElementById(id);
              if (e.style.visibility == 'hidden')
                  e.style.visibility = 'visible';
              else
                  e.style.visibility = 'hidden';

              if (id == "helper");
              {
                  // Simple cheating way to resize the area once "helper" is turned off
                  e.innerHTML=""
              }


          }


      </script>