<!--
Beneath all the messy and probably poorly written HTML, this page is pretty simple.
The application logic is laid out as follows:

______________________________________________________________________
|                    |                     |                         |   These selections are required to get data. All
|   Pick X axis var  |   Pick Y axis var   | (optional) Pick Filter  |   plots need an x and a y variable right?
|                    |                     |                         |   Filter is optional, and depends on your db schema.
|____________________|_____________________|_________________________|
|                    |                     |                         |   "Index" and "Date" assume your db has either some
| Pick Index Range   |    Pick Feature     |     Pick Date Range     |   sequential index, a date based index, or both for its
|     (optional)     |                     |       (optional)        |   typical X variable. If left unselected, no truncation
|____________________|_____________________|_________________________|   occurs. "Feature" chooses an extra plot feature
|                                                                    |
|                           [Submit]                                 |   Submit selection data for handling in controller,
|____________________________________________________________________|   plotting in view
-->



<h1> Welcome to the Interactive Plotting Engine!</h1>
<style type="text/css">
    body {
        background:url('/Stats.jpeg');
        opacity:0.9;
         }
</style>


<br>
<div style="text-align:center;border-radius:2px;"><%= image_tag('/ZD_Consulting.jpg', :align => :center) %>  </div>
<p style="text-align:center"> University of Colorado, Aerospace Engineering Sciences</p>
<p style="text-align:center"> zach.dischner@colorado.edu</p>

 <div id="status" align="center" style="align:center;"> </div>

<br>
<table id="mytable" bgcolor=white style="padding:10px; border-width:10px; border-color:green; position:relative;
        border-radius:2px;box-shadow: 5em 5em 10em #FFF" align="center" border="4" cellpadding=10px >
  <tr>
    <td colspan=3 text-align=center style="text-align:center; align:center">
      <%= form_tag "/goplot", :method => "get" do %>
          <! Selector for the 'x' variable to be plotted>
          <h style="text-align:left"> Select Variables to Plot</h>

          <p style="background-color: #C0C0C0;
                  border-style:solid; border-radius: 0.5em; box-shadow: 8px 8px 5px #808080;text-align:center; padding:10px">
            <br>
            <%= label(:plot, :x_var, "X") %>
            <%= select_tag(:x_var, options_for_select(@tags.map { |t| [t, t.to_s] }), :multiple => false) %>

            <%= label(:plot, :y_var, "Y") %>
            <%= select_tag(:y_var, options_for_select(@tags.map { |t| [t, t.to_s] }), :multiple => true) %>

            <! If there is no filter (database columns are unique), just get rid of this section, hardcode
            params[:filter] = ["No Filter"] !>
            <% if @filters %>
            <%= label(:plot, :filter, "Filter") %>
            <%= select_tag(:filter, options_for_select(@filters.map { |t| [t, t.to_s] }), :multiple => true) %>
            <% end %>


          </p>
          </td>
          </tr>

          <td colspan=3 height=10px style="height:10px">
            <p font=bolder style="text-align:center; font:bold"> Select Range for Horizontal Axis-Either in terms of "X" or Dates</p>
          </td>
          <tr>
          <tr>
            <td>
              <p style="background-color: #C0C0C0; max-width: 450px;height:50px;
                      border-style:outset; border-color: #888888; border-radius: 0.5em;
                      text-align: center;
                      padding:10px ">
                Select "X" Range for Plotting
                <br>
                <%= label(:plot, :x_start, "Start") %>
                <%= number_field_tag(:x_start, params[:x_start]) %>

                <%= label(:plot, :x_end, "End") %>
                <%= number_field_tag(:x_end, params[:x_end]) %>

              </p>
            </td>


            <!--
                Here is a radiobuttion selector, which decides if you want to view the data
                with checkbox line selectors, or a linear regression option.
            -->
            <td>
              <br>
              <%= radio_button_tag 'feature', 'Both', :true %>
              <%= label(:plot, :feature, "Both") %>
              <br>

              <br>
              <%= radio_button_tag 'feature', 'Linear Regression' %>
              <%= label(:plot, :feature, "Linear Regression ") %>
              <br>

              <br>
              <%= radio_button_tag 'feature', 'Checkboxes' %>
              <%= label(:plot, :feature, "Checkboxes") %>
              <br>

            </td>

            <td>
              <!--
                This is the block that creates a selector for  Datetime options
                It populates a Datetime param that is used in dynamic scope selectors
              -->
              <p style="background-color: #C0C0C0; width: 350px;height:100px;
                      border-style:outset; border-radius: 0.5em; border-color:#888888;
                      text-align: center;
                      padding:10px">
                Select DATE Range for Plotting
                <br>
                <%= label(:plot, :date_start, "Start") %>
                <%= date_select(:date_start, params[:date_start], :include_blank => true) %>
                <br>

                <br>
                <%= label(:plot, :date_end, "End") %>
                <%= date_select(:date_end, params[:date_end], :include_blank => true) %>
                <br>

              </p>

            </td>
          </tr>



         <!--
            Submit the page data to be handled by   /app/controllers/plots_controller
         -->
          <tr>
            <td colspan=3 style="align:center; text-align:center">
              <%= submit_tag "submit!", :onclick => "showloading()" %>



              <!--<input name="commit"  value="submit!" onclick="showloading()">-->

              <script language="javascript" type="text/javascript">
                  function showloading()
                  {
                      var img = document.createElement("IMG");
                      img.src = "/ajax-loader.gif";
//                      document.write(img);
                      document.getElementById('status').innerHTML="<p> Your page is loading </p>" +
                              "                                     <img src='/ajax-loader.gif'>";
                  }
              </script>



            </td>
          </tr>
          </table>




      <% end %>

<div id="StatusDiv"> <p> You are currently just selecting stuff</p></div>

