<%= javascript_include_tag "dygraph-combined" %>

<h1>Fully dynamic and iterative plotting setup. FEEL THE POWER!! </h1>

<div style="text-align:center"><%= image_tag('/NYSE.jpeg', :align => :left, :size => '1200x150') %>  </div>



<table cellpadding=20px border=5px >
  <%# for ii in 0..(@numgraphs-1) %>
  <% (0..@numgraphs-1).each do |ii|  %>
  <tr>

    <td>

      <html>
      <p align="center" style="font-size:1.5em; font-style:normal;"> <b> <%= params[:filter] %> </b></p>

      <div id="Legend_Div" float=right align=center style="width:150px; position:relative; left:400px;
              border:3px solid grey; border-radius: 0.4em;
              font-size:1.2em; padding-top:5px;"></div>

      <div id= <%="'graphdiv" + ii.to_s + "'"%> float=left style="position:relative"></div>

      <script type="text/javascript">
          g<%=ii.to_s%> = new Dygraph(document.getElementById(<%="'graphdiv"  + ii.to_s + "'"%>)
                  <%# Dynamic Label Maker%>
                  <%= putc(@plot.first.dygraph_head(@tags)) %>
                  <%# Dynamic Value Putter%>
                  <%= putc(@plot.first.dygraph_body(@tags,@plot)) %>
                  <%# Options for the Dygraph plot %>
                  <%= render :inline => @plot.first.dygraph_options(ii.to_s) %>
          );   // finish the Dygraph  Plot section


          <%= render :inline => @plot.first.linear_reg() %>  // Can ONLY do one or the other, multiples or linear regressions!
          ///// Lines to use checkboxes for Plot updating.
          <%#= puts getCoeffs() %>

          setStatus<%=ii.to_s%>();
          function setStatus<%=ii.to_s%>() {
              document.getElementById("visibility<%=ii.to_s%>").innerHTML =
                      g<%=ii.to_s%>.visibility<%=ii.to_s%>().toString();
          }

          function change<%=ii.to_s%>(el) {
              g<%=ii.to_s%>.setVisibility(parseInt(el.id), el.checked);
              setStatus();
          }


      </script>
      </html>
    </td>
    <td>

      <p> Choose which Lines to Plot</p>
      <%= render :inline => @plot.first.put_checkboxes(params[:y_var],ii.to_s) %>
    </td>
  </tr>
    <% end %>
</table>

<br>
<div>
  <%= link_to 'Back to the Plot Home Page', plots_path %>
</div>
</br>

