<%= javascript_include_tag "dygraph-combined" %>

<h1>Fully dynamic and iterative plotting setup. FEEL THE POWER!! </h1>
<div style="text-align:center"><%= image_tag("/LightningSmall.jpg", :mouseover => "/Lightning.jpg", :align => :center) %>  </div>

<%#= render :inline => @plot.first.generate_Dygraph_HTML %>
<table cellpadding=20px border=5px>
  <tr>
    <td>

      <html>

      <div id="Legend_Div" float=right align=center style="width:150px; position:relative; left:400px;
              border:3px solid grey; border-radius: 0.4em;
              font-size:1.2em; padding-top:5px;"></div>

      <div id="graphdiv" float=left style="position:relative;"></div>

      <script type="text/javascript">
          g = new Dygraph(document.getElementById("graphdiv")
                  <%# Dynamic Label Maker%>
                  <%= putc(@plot.first.dygraph_head(@tags)) %>
                  <%# Dynamic Value Putter%>
                  <%= putc(@plot.first.dygraph_body(@tags,@plot)) %>
                  <%# Options for the Dygraph plot %>
                  <%= render :inline => @plot.first.dygraph_options %>
          );   // finish the Dygraph  Plot section


          <%= render :inline => @plot.first.linear_reg %>
          ///// Lines to use checkboxes for Plot updating.
          <%#= puts getCoeffs() %>


      </script>
      </html>
    </td>
    <td>
      <%= render :inline => @plot.first.linear_reg_buttons(params[:y_var]) %>
    </td>
  </tr>
</table>



<br>
<div>
  <%= link_to 'Back to the Plot Home Page', plots_path %>
</div>
</br>
