<%#= javascript_include_tag "dygraph-combined" %>


<style type="text/css">

    tbody {
        background: white;
    }

    body {
        background: white;
    }

</style>


<h1 position="relative" bottom="20px" style="font:bolder; font-family:monaco;
        font-size:1.9em; text-align:center; border: 10px outset #2290FF;
        border-radius:4px">
  ∞∞∞∞∞∞∞ Here is your data. Explore away! ∞∞∞∞∞∞∞
</h1>


<table bgcolor="white" align="center" cellpadding=10px border=5px style="margin-top:12%; border-width:9px; border-color:#FFAA44;
        border-radius:2px;box-shadow: 1em 1em 6em   #444">

  <% (0..@numgraphs-1).each do |ii|
    if @numgraphs > 1
      eval("@plot = @" + params[:filter][ii])
      @tags = @plot.first.list_vars
    end %>

      <tr>
        <td>
          <html>
          <p align="center" style="font-size:1.5em; font-style:normal;"><b> <%= params[:filter][ii] %> </b></p>

          <div style="border:3px solid grey; border-radius: 0.4em;font-size:0.95em; padding-top:5px;"
               id=<%= "'Legend_Div" + ii.to_s + "'" %>></div>
          <td>
            <div id=<%= "'graphdiv" + ii.to_s + "'" %> float=left style="position:relative"></div>

            <script type="text/javascript">
                g<%=ii.to_s%> = new Dygraph(document.getElementById(<%="'graphdiv"  + ii.to_s + "'"%>)
                        <%# Dynamic Label Maker%>
                        <%= putc(@plot.first.dygraph_head(@tags)) %>
                        <%# Dynamic Value Putter%>
                        <%= putc(@plot.first.dygraph_body(@tags,@plot)) %>
                        <%# Options for the Dygraph plot %>
                        <%= render :inline => @plot.first.dygraph_options(ii.to_s) %>
                );   // finish the Dygraph  Plot section


                <%= render :inline => @plot.first.linear_reg(ii.to_s) %>  // Can ONLY do one or the other, multiples or linear regressions!
                ///// Lines to use checkboxes for Plot updating.
                <%#= puts getCoeffs() %>

                setStatus<%=ii.to_s%>();
                function setStatus<%=ii.to_s%>() {
                    document.getElementById("visibility<%=ii.to_s%>").innerHTML =
                            g<%=ii.to_s%>.visibility<%=ii.to_s%>().toString();
                }

                function change<%=ii.to_s%>(el) {
                    g<%=ii.to_s%>.setVisibility(parseInt(el.id), el.checked);
                    setStatus<%=ii.to_s%>();
                }
            </script>
          </html>
        </td>

        <td>

          <%= render :inline => @plot.first.linear_reg_buttons(params[:y_var], ii.to_s) %>

        </td>
        <td>

          <p> Choose which Lines to Plot</p>
          <%= render :inline => @plot.first.put_checkboxes(params[:y_var], ii.to_s) %>
        </td>
      </tr>
  <% end %>
</table>

<div style="padding-top:120px">
  <%= link_to 'Back to the Plot Home Page', plots_path %>
</div>





